@model ML.Aseguradora
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Aseguradora</h2>
    <p>Aqui puede ver, editar o agrgar a un Aseguradora</p>
    <p>Para agregar un Aseguradora presione el boton verde</p>
    <p>Para editar un Aseguradora presione el boton amarillo</p>
    <p>Para eliminar un Aseguradora presione el boton rojo</p>

    <div class="row">
        <div style="float:right">
            @Html.ActionLink("+", "Form", "Aseguradora", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>

    <hr />

    <div class="row">

        <table class="table  table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th style="display:none;">IdAseguradora</th>
                    <th>Nombre</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha De Modificacion</th>
                    <th>Usuario</th>
                    <th>Eliminar</th>
                </tr>

            </thead>
            <tbody>
                @foreach (ML.Aseguradora aseguradora in Model.Aseguradoras)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("Form", "Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                        <td style="display: none;">@aseguradora.IdAseguradora</td>
                        <td>@aseguradora.Nombre </td>
                        <td>@aseguradora.FechaCreacion</td>
                        <td>@aseguradora.FechaModificacion</td>
                        <td>@aseguradora.Usuario.Nombre</td>

                    <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Aseguradora", new { IdAseguradora= aseguradora.IdAseguradora})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-eraser-fill" style="color: mintcream"></i></a></td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



